* {
  margin: 0;
  padding: 0;
}

html {
  // 10px
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  padding: 0 10rem;
  margin: 0 auto;
  // width: 120rem;

  @include laptop {
    padding: 0 5rem;
  }

  @include tablet {
    padding: 0 1rem;
  }
}
