@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

// Popular tags, authors
.popular__container {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
}

.label__popular__authors,
.label__popular__tags {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 7px 0;
  margin-bottom: 7px;
  border-bottom: 1px solid #c4c4c4;

  & .expand {
    display: none;
  }

  @include phone {
    font-size: 1.4rem;
    border-bottom: none;
    margin-bottom: 0;
    & .expand {
      display: flex;
    }
  }
}

// 모바일 화면에서 태그 목록을 확장 전 가리기 위함
.container__hide__responsive {
  @include phone {
    display: none;
  }
}

.popular__tags__container,
.popular__authors__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

.popular__tag,
.popular__author {
  padding: 4px 10px;
  margin: 3px 2px;
  background-color: #ede6d6;
  border-radius: 100px;
  cursor: pointer;
  &:hover {
    background-color: #ddd6c7;
  }
  &:active {
    background-color: #c2bcb0;
  }
}

// search bar
.search__container {
  display: flex;
  gap: 0.5rem;
  margin-top: 50px;
  height: 3rem;
  justify-content: end;
  padding: 10px 0;

  input {
    flex: 0 1 65rem;
    min-width: 5rem;
    padding-left: 5px;
    background: #ffffff;
    border-radius: 3px;
    border: #d6d0c4 1px solid;
    color: #333333;
    resize: none;

    &:focus {
      box-shadow: 0 0 4px rgb(185 173 153 / 50%);
      border-color: #b9ad99;
      outline: 0px;
    }
  }

  select {
    border: #d6d0c4 1px solid;
    border-radius: 3px;
    color: #aea176;

    &:focus {
      box-shadow: 0 0 4px rgb(185 173 153 / 50%);
      border-color: #b9ad99;
      outline: 0px;
    }
  }

  button {
    background-color: #f4f1ea;
    border: 1px solid #d6d0c4;
    border-radius: 3px;
    padding: 2px 10px;
    cursor: pointer;
    flex: 0 0 5rem;
    color: #aea176;

    &:hover {
      color: #333333;
      background-color: #ede6d6;
    }

    &:active {
      background-color: #d6d0c4;
    }
  }
}

.collection__section {
  display: flex;
}

.popular__container {
  /* flex-grow: 1; flex-shrink: 1; flex-basis: 0%; */
  flex: 1 1 0;
  // display: none;
}

.collection__container {
  display: flex;
  flex-direction: column;
  flex: 3 1 0;
}

@include phone {
  .collection__section {
    display: flex;
    flex-direction: column;
  }

  .popular__container {
    /* flex-grow: 1; flex-shrink: 1; flex-basis: 0%; */
    flex: 1 1 0;
    padding: 0;
  }

  .collection__container {
    display: flex;
    flex-direction: column;
    flex: 3 1 0;
  }

  .popular__tags__container,
  .popular__authors__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
}

.filters__container {
  align-items: center;
  display: flex;
  gap: 1rem;
  height: 3.64rem;
  border-bottom: solid 1px #c4c4c4;

  .selected {
    border-bottom: 3px solid;
  }

  .disabled {
    pointer-events: none;
  }

  & .btn {
    height: 100%;
    padding: 0 1.2rem;
    display: flex;
    align-items: center;

    &:hover {
      border-bottom: 3px solid;
    }

    a {
      padding: 1rem 0;
      text-decoration: none;
      color: #333333;
      font-size: 1.4rem;
    }
  }
}
.sticky {
  @include phone {
    background-color: #fff;
    position: fixed;
    top: 0px;
    box-shadow: 0px 5px 10px -10px #222;
    z-index: 3;
  }
}

.posts__container {
  display: flex;
  flex-direction: column;

  // 아무것도 없네요 그림
  .empty {
    width: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      margin-top: 1rem;
      font-weight: 600;
      color: rgb(114, 180, 255);
      font-size: 1.4rem;
    }
  }

  @include phone {
    padding-top: 0.7rem;
  }
}

// 글마디 리스트 element
.blockquote__list__child {
  display: flex;
  padding: 10px 0 10px 0px;

  @include phone {
    flex-direction: column;
    padding: 3px 0;

    & .material-icons {
      font-size: 1.6rem;
    }
  }

  &__like__area {
    align-items: center;
    text-align: center;
    margin: auto 15px;

    @include phone {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 0.3rem;
      margin: 0;
    }
  }
}

.blockquote__like__num {
  font-size: 1.2rem;
  color: #c4c4c4;
  font-weight: 600;

  @include phone {
    font-size: 1.6rem;
    font-weight: normal;
  }

  &.favorite {
    color: #ff0000;
  }
}

blockquote {
  flex-grow: 1;
  font-size: 1.4em;
  font-family: "Open Sans";
  font-style: italic;
  // white-space: pre-line;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  line-height: 1.6;
  position: relative;
  background: #ededed;

  @include phone {
    padding: 1em 10px 1em 45px;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;

    .material-icons {
      color: rgb(0, 0, 0, 0.3);
      font-size: 1.4em;
      margin: 0;

      &:hover {
        color: rgb(0, 0, 0, 0.7);
      }
    }
    .reference {
      color: #333333;
      font-style: normal;
      font-weight: bold;
    }
  }

  &::before {
    font-family: Arial;
    content: "\201C";
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
  }
  &::after {
    content: "";
  }

  &:hover {
    transform: scale(1.007);
    transition: all 0.2s linear;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  }

  &.blockquote__phrase {
    border-left: 8px solid #78c0a8;
    &::before {
      color: #78c0a8;
    }
  }

  &.blockquote__lyric {
    border-left: 8px solid #e69c9c;
    &::before {
      color: #e69c9c;
    }
  }
}
