.icon__favorite {
  &__on,
  &__off {
    cursor: pointer;
    overflow: hidden;

    &:hover {
      transform: scale(1.2);
      transition: all 0.2s linear;
    }
  }

  &__off {
    color: #c4c4c4;
  }

  &__on {
    color: #ff0000;
  }
}

// Floating add button
.add__btn__floating {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 10;

  color: #fff;
  padding: 0;
  cursor: pointer;
  width: 55.5px;
  height: 55.5px;
  display: inline-block;
  outline: 0;
  border: none;
  text-decoration: none;
  background: rgb(174, 161, 118);
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    background: rgb(174, 161, 118, 0.8);
    transform: translateY(-5px);
    transition: 0.2s linear;
  }

  &:active {
    background: rgb(174, 161, 118);
  }

  div {
    font-size: 2.4rem;
    padding: 0;
    margin: 0.22rem 0 0 0;
  }
}

/* 로그인, 회원가입 모달 */
.modal__container {
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* 배경색 */
  backdrop-filter: blur(5px); /* 배경 블러효과 */
  padding-top: 60px;

  &.hidden {
    display: none;
  }
}

.form__modal {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 0px auto;
  border: 1px solid #888;
  width: 20%;
  padding: 30px;
  border-radius: 8px;
  position: relative;
}

.form__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.form__container {
  display: grid;
  gap: 15px;
}

.form__sub__container {
  display: flex;
  flex-direction: column;
  input {
    margin-top: 5px;
    height: 3rem;
    padding-left: 5px;
  }
}

.submit_btn {
  margin-top: 10px;
  height: 4rem;
}

.form__footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;

  &__item {
    margin: 3px 10px;
    cursor: pointer;
    text-decoration-line: underline;
    text-underline-offset: 3px;
  }
}

.modal__close__btn {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 15px;
  top: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 1);
  }
}
