/* 로그인, 회원가입 모달 */
.form__modal {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 0px auto;
  border: 1px solid #888;
  width: 20%;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  margin-top: 6rem;
}

.form__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.form__container {
  display: grid;
  gap: 15px;
}

.form__sub__container {
  display: flex;
  flex-direction: column;
  input {
    border: 1px solid #aea176;
    border-radius: 2px;

    &:focus {
      box-shadow: 0 0 4px rgb(185 173 153 / 50%);
      border-color: #aea176;
      outline: 0px;
    }

    margin-top: 5px;
    height: 3rem;
    padding-left: 5px;
  }
}

.google__login__btn {
  border-radius: 100px;
  background-color: #dd4b39;
  border-style: none;
  height: 4rem;
  margin-bottom: 1rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: #e06858;
  }

  color: #fefefe;
}

.submit_btn {
  position: relative;
  margin-top: 10px;
  height: 4rem;

  background-color: #ede6d6;
  border: 1px solid #d6d0c4;
  border-radius: 2px;
  padding: 2px 4px;
  cursor: pointer;

  &:hover {
    color: #333333;
    background-color: #f4f1ea;
  }

  &:active {
    background-color: #d6d0c4;
  }
}

.spinner .btn__text {
  visibility: hidden;
  opacity: 0;
}

.form__footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;

  &__item {
    margin: 3px 10px;
    cursor: pointer;
    text-decoration-line: underline;
    text-underline-offset: 3px;
  }
}

.modal__close__btn {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 15px;
  top: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 35px;
  // font-weight: bold;
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 1);
  }
}

/* 업로드 폼 윈도우 */
.upload_modal {
  overflow-y: auto;

  fieldset {
    border: 0;
    display: flex;
    padding: 5px 0;

    div {
      display: flex;
      width: 50%;
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"] + label {
      display: inline-block;
      cursor: pointer;
      height: 2.4rem;
      width: 100%;
      border: 1px solid #aea176;
      line-height: 2.4rem;
      text-align: center;
      font-weight: bold;
      font-size: 1.3rem;
    }

    input[type="radio"] + label {
      background-color: #fff;
      color: #333;
    }

    input[type="radio"]:checked + label {
      background-color: #aea176;
      color: #fff;
    }
  }

  textarea {
    &:focus {
      box-shadow: 0 0 4px rgb(185 173 153 / 50%);
      border-color: #aea176;
      outline: 0px;
    }
    border: 1px solid #aea176;
    border-radius: 2px;
    font-family: inherit;
    padding: 0.5rem;
    resize: none;
    margin-top: 0.5rem;
  }
}
