.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.nav {
  &__btn {
    padding: 2px 4px;
  }

  &__list {
    list-style: none;
  }
}
