.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.nav {
  display: flex;

  &__btn {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #f4f1ea;
    border: 3px solid #aea176;
    padding: 2px 10px;
    margin-left: 5px;
    border-radius: 100px;

    span {
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
      color: #aea176;
    }

    &:hover {
      background-color: #eceae2;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  .hidden {
    display: none;
  }
}

.nav__btn__account {
  height: 50px;
  margin-left: 10px;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}
