.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.nav {
  display: flex;
  &__btn {
    height: 24px;
    padding: 2px 4px;
    margin-left: 5px;
  }

  &__list {
    display: flex;
    align-items: center;
  }
}

.nav__btn__account {
  height: 50px;
  margin-left: 10px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}
