// index.html hero
.hero {
  margin-top: 50px;
  align-items: center;

  &__cards__container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__card {
    width: 38rem;
    height: 45rem;
    background-color: rgb(192, 192, 192);
    border-radius: 1.5%;
    -webkit-box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 0.3);
  }
}

.hero__text__box {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;

  p {
    opacity: 0;

    @keyframes fadein {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    // animation-fill-mode: forwards; => 애니메이션의 마지막 상태 유지
    &:nth-child(1) {
      animation: fadein 1s 0.1s forwards;
    }
    &:nth-child(2) {
      animation: fadein 1s 0.5s forwards;
    }
  }
}

.heading__primary {
  font-size: 5rem;
}

.heading__primary__sub {
  text-align: center;
  height: 6rem;

  img {
    height: 100%;
  }
}

.heading__description {
  text-align: center;
  line-height: 1.8rem;
}

.link__goto__collection__page {
  text-align: center;
  font-size: 2rem;
  margin: 20px auto;
}

.link__goto__collection__page a {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: inherit;
}
