// index.html hero
.hero {
  margin-top: 50px;
  align-items: center;
}

.hero__text__box {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;

  p {
    opacity: 0;

    @keyframes fadein {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    // animation-fill-mode: forwards; => 애니메이션의 마지막 상태 유지
    &:nth-child(1) {
      animation: fadein 1s 0.1s forwards;
    }
    &:nth-child(2) {
      animation: fadein 1s 0.5s forwards;
    }
  }
}

.heading__primary {
  font-size: 5rem;
}

.heading__primary__sub {
  text-align: center;
  height: 6rem;

  img {
    height: 100%;
  }
}

.heading__description {
  text-align: center;
  line-height: 1.8rem;
}
